extends layout.pug
block title
  title Welcome to Reddit Clone
block content
  h1 Welcome to Reddit Clone
  ul.post-list
    each post in posts
      li.post
        h2
          a(href=post.Post.url)= post.Post.title
        p Submitted by: #{post.User.username}
        p Score: #{post.Post.voteScore}
        p Votes: #{post.Post.voteCount}
        <form action="/vote" method="post">
          <input type="hidden" name="vote" value="1">
          <input type="hidden" name="postId" value=#{post.Post.id}>
        <button type="submit">upvote this</button>
        </form>
        <form action="/vote" method="post">
          <input type="hidden" name="vote" value="-1">
          <input type="hidden" name="postId" value= #{post.Post.id}>
          <button type="submit">downvote this</button>
        </form>
        p Created: #{post.Post.createdAt}
        p Subreddit: #{post.Subreddit.name}
