extends layout.pug
block title
  title Welcome to /r/#{subreddit} - #{username} 
block content
  h1 Welcome to /r/#{subreddit} - #{username}
  ul.post-list
    each post in posts
      li.post
        h2
          a(href=post.Post.url)= post.Post.title
        p Submitted by: #{post.User.username}
        p Score: #{post.Post.voteScore}
        p Votes: #{post.Post.voteCount}
        <form action="/vote" method="post">
          <input type="hidden" name="vote" value="1">
          <input type="hidden" name="postId" value=#{post.Post.id}>
          <input type="hidden" name="url" value= "">
          <button type="submit">upvote this</button>
        </form>
        <form action="/vote" method="post">
          <input type="hidden" name="vote" value="-1">
          <input type="hidden" name="postId" value= #{post.Post.id}>
          <input type="hidden" name="url" value= "">
          <button type="submit">downvote this</button>
        </form>
        p Created: #{post.Post.createdAt}
        p Subreddit: #{post.Subreddit.name}
  script.
    var inputs = document.getElementsByName('url')
    for (currentElement in inputs) {
        if(inputs.hasOwnProperty(currentElement)) {
        inputs[currentElement].value = document.location.href
        }
    }
               
